---
import Container from "@components/container.astro";
// import Link from "@components/ui/link.astro";
// import Dropdown from "./dropdown.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";

import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import LanguagePicker from "@components/LanguagePicker.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const menuitems = [
  {
    title: t("nav.home"),
    path: "#",
    // children: [
    //   { title: "Action", path: "/" },
    //   { title: "Another action", path: "#" },
    //   { title: "Dropdown Submenu", path: "#" },
    //   { title: "404 Page", path: "/404" },
    // ],
  },
  {
    title: t("nav.theme"),
    path: "#",
  },
  // {
  //   title: "About",
  //   path: "/about",
  // },
  // {
  //   title: "Blog",
  //   path: "/blog",
  // },
  // {
  //   title: "Contact",
  //   path: "/contact",
  // },
];
---

<Container>
  <header class="flex flex-col lg:flex-row justify-between items-center my-5">
    <Astronav>
      <div class="flex w-full lg:w-auto items-center justify-between">
        <a href="#" class="text-lg flex items-center">
          <svg
            class="w-8 h-8 text-slate-800 dark:text-slate-100"
            viewBox="0 0 1024 1024"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            p-id="982"
            ><path
              d="M523.52 453.632l-107.2-32.256a29.888 29.888 0 0 1-20.416-37.632 30.08 30.08 0 0 1 11.712-15.552l137.152-93.952a29.76 29.76 0 0 0 13.12-24.896l-2.176-162.56A30.528 30.528 0 0 1 586.304 56.32a31.68 31.68 0 0 1 18.944 5.952l134.656 97.28a31.872 31.872 0 0 0 28.48 4.352l159.104-52.224a31.232 31.232 0 0 1 39.296 18.816 29.12 29.12 0 0 1 0 19.264l-53.952 154.048a29.248 29.248 0 0 0 4.544 27.584l100.48 130.368a29.44 29.44 0 0 1-6.336 41.984 31.68 31.68 0 0 1-18.944 5.952l-167.936-2.048a31.36 31.36 0 0 0-25.728 12.672l-96.96 132.8a31.68 31.68 0 0 1-43.264 7.168 30.08 30.08 0 0 1-11.712-15.616L615.872 547.84l-393.088 439.36a112.832 112.832 0 0 1-161.408 5.568 104.448 104.448 0 0 1 5.76-156.224L523.52 453.632zM115.648 448C51.84 448 0 397.824 0 336S51.84 224 115.648 224c63.936 0 115.712 50.176 115.712 112S179.52 448 115.648 448z m268.736-320c-36.48 0-66.112-28.672-66.112-64s29.632-64 66.112-64c36.48 0 66.112 28.672 66.112 64s-29.632 64-66.112 64z m478.208 800c-63.872 0-115.648-50.176-115.648-112S798.72 704 862.592 704c63.872 0 115.712 50.176 115.712 112s-51.84 112-115.712 112z"
              class="fill-current"
              p-id="983"></path></svg
          >

          <span class="mt-1 ml-3">
            <span class="font-bold text-slate-800 dark:text-slate-100">Rao</span
            >.<span class="text-slate-500 dark:text-slate-400">Pics</span></span
          >
        </a>
        <div class="block lg:hidden">
          <MenuIcon class="w-4 h-4 text-gray-800 dark:text-slate-100" />
        </div>
      </div>
      <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
        <ul class="flex flex-col lg:flex-row lg:gap-3">
          {
            menuitems.map((item, index) => (
              <>
                {
                  null
                  //   item.children && (
                  //   <Dropdown
                  //     title={item.title}
                  //     children={item.children}
                  //     lastItem={index === menuitems.length - 1}
                  //   />
                  // )
                }

                {
                  <li>
                    <a
                      href={item.path}
                      class="flex lg:px-3 py-2 text-gray-600 hover:text-gray-900 dark:text-slate-400 hover:dark:text-slate-50">
                      {item.title}
                    </a>
                  </li>
                }
              </>
            ))
          }
        </ul>
        <div class="lg:hidden flex mt-3 items-center gap-4">
          <LanguagePicker />
        </div>
        <!-- <div class="lg:hidden flex items-center mt-3 gap-4">
          <Link href="#" style="muted" block size="md">Log in</Link>
          <Link href="#" size="md" block>Sign up</Link>
        </div> -->
      </MenuItems>
    </Astronav>
    <div>
      <div class="hidden lg:flex items-center gap-4">
        <LanguagePicker />
      </div>
    </div>
  </header>
</Container>
