---
interface Props {
  href: string;
  size?: "md" | "lg";
  block?: boolean;
  style?: "outline" | "primary" | "inverted" | "muted";
  class?: string;
  [x: string]: any;
}

const {
  href,
  block,
  size = "lg",
  style = "primary",
  class: className,
  ...rest
} = Astro.props;

const sizes = {
  lg: "px-5 py-2.5",
  md: "px-4 py-2",
};

const styles = {
  outline:
    "bg-white dark:bg-slate-900 border-2 border-black dark:border-slate-400 dark:hover:border-slate-500 hover:bg-gray-100 hover:dark:bg-gray-800 text-black dark:text-white",
  primary: "bg-black text-white hover:bg-gray-800  border-2 border-transparent",
  inverted: "bg-white text-black   border-2 border-transparent",
  muted:
    "bg-gray-100 hover:bg-gray-200 dark:bg-gray-800 hover:dark:bg-gray-700 border-2 border-transparent",
};
---

<!-- <div class="dark:bg-gray-800 dark:bg-gray-800"></div> -->
<a
  href={href}
  {...rest}
  class:list={[
    "rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200",
    block && "w-full",
    sizes[size],
    styles[style],
    className,
  ]}
  ><slot />
</a>
